<footer class="post-footer">
    <div class="post-action">
        <a class="post-link primary" href="{{url}}">{{t "Read Now"}}</a>
    </div>
    <div class="post-author">
        <div class="post-author-name hidden-xs hidden-sm">
            {{#foreach authors}}<a class="post-author-name-link" href="{{url}}">{{name}}</a>{{/foreach}}
        </div>
    </div>
</footer>